@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/************ DASHBOARD ************/
main{
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   gap: 30px    ;
   top: 90px;
   left: 40%;
   justify-content: center;
}
@media (max-width: 1440px) {
    main{
        left: 23%;
    }
}

span {
    font-family: "Montserrat-Medium";
    font-family: 14px;
}
strong {
    font-family: "Montserrat-Bold";
    font-size: 30px;
}
.div__container{
    width: 250px;
    height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 8px;
}
#students {
    background-color: #F0F9FF;
    
    div {
        background-color: #F0F9FF;
    }
}
#course {
    background-color: #FEF6FB;

    div {
        background-color: #FEF6FB;
    }
}
#payment {
    background-color: #FEFBEC;

    div {
        background-color: #FEFBEC;
    }
}
#users {
    background: linear-gradient(90deg, #FEAF00 0%, #F8D442 100%);

    div {
        background: linear-gradient(90deg, #FEAF00 0%, #F8D442 100%);
    }

}
.div__container div{
    background: orange;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 8px;
}

#payment > strong{
    position: relative;
}
#payment > strong::before{
    content: attr(data-format);
}
/************ DASHBOARD FINISH************/


nav {
    width: 270px;
    height: 100%;
    background-color: #F2EAE1;
}
.div__navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding-top: 80px;
    align-items: flex-start;

    div {
        width: 193px;
        height: 41px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        justify-content: flex-start;
        padding-left: 45px;
    }
    
    
}
.div__logout {
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding-top: 25%;
    align-items: flex-start;
}

.div__profile {
    
    img {
        border-radius: 50%;
        top: 96px;
        left: 35px;
        position: relative;
    }
}
.div__menuTitle {
    position: absolute;
    top: 18px;

    h1 { 
        font-size: 21px;
    }
}
.div__profileContainer {
    width: 219px;
    height: 274px;
    position: relative;

}
.div__profile {
    width: 219px;
    height: 274px;
    position: relative;
}
.div__profileInfo {
    position: relative;
    padding-top: 115px;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.div__home {
    background-color: #FEAF00;
    border-radius: 4px;
}
