<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="../js/dashboard.js" defer type="module"></script>
</head>
<body>
    <main>
        <div id="students" class="div__container">
            <div>
                <img src="../storage/img/VectorGorroGrado.png" width="48px" height="38px">
                <span>Students</span>
            </div>
            <strong>243</strong>
        </div>
        <div id="course" class="div__container">
            <div>
                <img src="../storage/img/VectorMarcado.png" width="28px" height="35px">
                <span>Course</span>
            </div>
            <strong>13</strong>
        </div>
        <div id="payment" class="div__container">
            <div style="padding-top: 15px;">
                <img src="../storage/img/VectorSignoValor.png" width="35px" height="40px">
                <span>Payments</span>
            </div>
            <strong data-format="$">556,000</strong>
        </div>
        <div id="users" class="div__container">
            <div>
                <img src="../storage/img/VectorUsuario.png" width="34px" height="34px">
                <span>Users</span>
            </div>
            <strong>3</strong>
        </div>
    </main>
    <nav>
        <div class="div__navContainer">
            <div class="div__profileContainer">
                <div class="div__profile">
                    <div class="div__menuTitle">
                        <h1>CRUD OPERATIONS</h1>
                    </div>
                    <img src="../storage/img/VectorIMGProfile.png">
                    <div class="div__profileInfo">
                        <h1>Karthi Madesh</h1>
                        <p>Admin</p>
                    </div>
                </div>
            </div>
            <div class="div__optionsContainer">
                <div class="div__home">
                    <img src="../storage/img/VectorHome.png" width="19px" height="17px">
                    <span>Home</span>
                </div>
                <div>
                    <img src="../storage/img/VectorCursos.png" width="12px" height="15px">
                    <span>Course</span>
                </div>
                <div>
                    <img src="../storage/img/VectorEstudiantes.png" width="20px" height="12px">
                    <span>Students</span>
                </div>
                <div>
                    <img src="../storage/img/VectorPagos.png" width="15px" height="15px">
                    <span>Payments</span>
                </div>
                <div>
                    <img src="../storage/img/VectorReport.png" width="13px" height="17px">
                    <span>Report</span>
                </div>
                <div>
                    <img src="../storage/img/VectorSettings.png" width="15px" height="15px">
                    <span>Setings</span>
                </div>
            </div>
            <div class="div__logout">
                <div>
                    <span>Logout</span>
                    <img src="../storage/img/VectorLogout.png" width="15px" height="15px">
                </div>
            </div>
        </div>

    </nav>
</body>
</html>