<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="../js/dashboard.js" defer type="module"></script>
</head>
<body>
    <main>
        <div id="students" class="div__container">
            <div>
                <img src="../storage/img/VectorGorroGrado.png" width="48px" height="38px">
                <span>Students</span>
            </div>
            <strong>243</strong>
        </div>
        <div id="course" class="div__container">
            <div>
                <img src="../storage/img/VectorMarcado.png" width="28px" height="35px">
                <span>Course</span>
            </div>
            <strong>13</strong>
        </div>
        <div id="payment" class="div__container">
            <div style="padding-top: 15px;">
                <img src="../storage/img/VectorSignoValor.png" width="35px" height="40px">
                <span>Payments</span>
            </div>
            <strong data-format="$">556,000</strong>
        </div>
        <div id="users" class="div__container">
            <div>
                <img src="../storage/img/VectorUsuario.png" width="34px" height="34px">
                <span>Users</span>
            </div>
            <strong>3</strong>
        </div>
    </main>
</body>
</html>